@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family: "Nanum Gothic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

 body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #ffffff;
 }

 .login-form {
    position: relative; z-index: 2;
 }

 .login-form img{
    width: 255px; height: 55px; 
    color: #FF7CA3;
    display: block; margin: auto;
    margin-bottom: 90px;
 }

 .int-area {width: 312px;}

 .int-area input {
    width: 312px; height: 48px;
    padding: 10px 15px 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 18px; color: #000;
 }

.btn-area-1 button, .btn-area-2 button {
    width: 312px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-area-1 button:hover {
    background-color: #FF5A7A;
}

.btn-area-2 button {
    background: #F1F1F1;
    color: #000000;
    transition: background-color 0.3s ease;
}

.btn-area-2 button:hover {
    background-color: #DADADA;
}


.btn-area-1 {
    margin-top: 30px; /* 여성, 남성 버튼과의 간격 조절 */
    text-align: center;
}

.btn-area-1 button {
    width: 146px; /* 여성, 남성 버튼의 너비 조절 */
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 5px; /* 여성, 남성 버튼 사이의 간격 조절 */
}

.btn-area-2 {
    margin-top: 30px; /* 여성, 남성 버튼과의 간격 조절 */
    text-align: center;
}

